<div class="header-top">
  <div class="container">
    <div class="head-nav">
      <div class="logo">
        <h1 class="title" routerLink="/home">LabMat <span>Juegos</span></h1>
      </div>
      <div class="clearfix"></div>
      <div class="top-menu">
        <ul>
          <li class="li-header color1" routerLink="/home" >Inicio</li>
          <li class="li-header color2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Juegos
            <ul class="dropdown-menu" role="menu">
              <li routerLink="/hanoit-tower"><p>Torres de Hanói</p> </li>
              <li><p>Juego 2</p></li>
              <li><p>Juego 3</p></li>
            </ul>
          </li>

          <li class="li-header color3" routerLink="/about-us">Información</li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</div>