<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-6 footer-text">
        <h3>Sobre Nosotros</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Et quis fuga aliquid omnis eum doloremque, aspernatur facilis ad voluptatibus
          vero deserunt sequi eius obcaecati excepturi reiciendis sunt magnam corrupti hic.</p>
        <a href="" class="read">Leer Más</a>
      </div>
      <div class="col-md-6 footer-info">
        <h3>Contacto</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Et quis fuga aliquid omnis eum doloremque, aspernatur facilis ad voluptatibus
          vero deserunt sequi eius obcaecati excepturi reiciendis sunt magnam corrupti hic.</p>
        <div class="contact-links">
          <a href="https://www.facebook.com/TCU.LABMATE/">
            <fa name="facebook-square" class="icon"></fa>
          </a>
          <fa name="envelope" class="icon"></fa>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="copy">
      <p> © 2019. Propiedad del <a href="https://www.facebook.com/TCU.LABMATE/"> Laboratorio de Matemática, UCRSO </a></p>
    </div>
  </div>
</div>