.hanoi{
    padding-bottom: 50px;
    .counter {
        text-align: center;
        padding-bottom: 40px;
    }

    .tower {
        border-bottom: 3px ridge rgba(0, 0, 0, 0.92);
        margin-bottom: 5px;
        text-align: center;
        cursor: pointer;
        .field {
            color: white;
            padding: 1.2em 4.38em 1em 4.3em;
        }
        .first{
            width: 50%;
            background: #ff7a85;
            border-radius: 25px;
            display: inline-block;
        }
        .second{
            width: 60%;
            background: #5bb2fc;
            border-radius: 25px;
            display: inline-block;
        }
        .third{
            width: 80%;
            background: #B881CF;
            border-radius: 25px;
            display: inline-block;
        }
        .fourth{
            width: 100%;
            background: #ffa659;
            border-radius: 25px;
            display: inline-block;
        }
    }
    .restart {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            height: 50px;
            width: 300px;
            color: #fff;
            font-size: 20px;
        }
    }
    
}