<div class="container">
  <div class="square">
    <div *ngFor="let row of squareTemp; let i = index" style="line-height: 0;">
      <div *ngFor="let col of row; let j = index" class="square-item">
        <input type="number" min="0" value="{{col.value}}" 
          [ngClass]="['square-content', col.selected ? 'selected' : '']" 
          (change)="changed($event, i, j)"
          [disabled]="col.selected"/>
      </div>
    </div>  
  </div>
  <div class="center-verify">
    <button type="button" [ngClass]="['btn', 'btn-verify']" (click)="verifySquare()" [ngStyle]="{'width.px': squareOrder*68 }">
      <fa name="check" class="icon"></fa> Verificar Respuesta
    </button>
  </div>

  <div class="row restart">
    <button type="button" class="btn btn-dark" (click)="restart()">
      <fa name="repeat" class="icon"></fa> Reiniciar
    </button>
    <button type="button" class="btn btn-dark" (click)="instructions()">
      <fa name="list" class="icon"></fa> Instrucciones
    </button>
    <button type="button" class="btn btn-dark" (click)="options()">
      <fa name="cog" class="icon"></fa> Opciones
    </button>
  </div>

  <button hidden id="instructionsButton" [swal]="instructionsSwal">
  </button>
  <swal #instructionsSwal title="Instrucciones del juego" type="info" (confirm)="optionsConfirm()">
    <div *swalPartial>
        <p>El juego inicia con un cuadrado mágico incompleto y dispone de una línea completa para encontrar la constante mágica.
          El objetivo del juego es encontrar todos los números faltantes en el cuadrado de manera que al sumar cualquier línea
          (horizontal, vertical o diagonal) el resultado de la suma debe ser el mismo.
        </p>
        <ul>
          <li>Rellenar los espacios en 0 con los números faltantes 
            (debes tener cuidado porque el cero también puede ser uno de nuestros números faltantes).</li>
          <li>Cuando creas que el cuadrado está correcto debes verificar tu respuesta.</li>
          <li>Si tu respuesta es correcta puedes continuar con un cuadrado nuevo.</li>
          <li>Si tu respuesta es incorrecta debes revisar tus sumas para encontrar el error y seguir avanzando en el juego.</li>
          <li>Recuerda que puedes jugar con cuadrados de orden 3X3 o de orden 4X4.</li>
          <li>El juego termina cuando hayas encontrado 10 cuadrados correctos.</li>
        </ul>
    </div>
  </swal>

  <button hidden id="finishButton" [swal]="finishSwal">
	</button>
	<swal #finishSwal title="Incorrecto!" type="info" confirmButtonText="Volver al juego">
		<div *swalPartial>
			La respuesta no es correcta, revisa la solución.
		</div>
	</swal>

  <button hidden id="winnerButton" [swal]="winnerSwal">
	</button>
	<swal #winnerSwal title="Correcto!" type="success" (confirm)="initGame()"
	showCancelButton="true" reverseButtons="true" cancelButtonText="Volver al juego" confirmButtonText="Seguir jugando">
		<div *swalPartial>
			!Felicidades, has ganado la partida!
		</div>
  </swal>
  
  <button hidden id="winnerGameButton" [swal]="winnerGameSwal">
	</button>
	<swal #winnerGameSwal title="Ganaste!" type="success" (confirm)="initGame()"
	showCancelButton="true" reverseButtons="true" cancelButtonText="Volver al juego" confirmButtonText="Reiniciar juego">
		<div *swalPartial>
			!Felicidades, has terminado todos los cuadrados mágicos con éxito!
		</div>
	</swal>

<!-- Options -->
  <button hidden id="optionsBtn" [swal]="optionsSwal">
  </button>
  <swal #optionsSwal title="Opciones del juego" (confirm)="optionsConfirm()" 
  showCancelButton="true" reverseButtons="true" cancelButtonText="Cancelar" confirmButtonText="Aceptar">
    <div *swalPartial>
      <br>
      <h5>Seleccione el tamaño del cuadrado mágico</h5>
      <div class='form-check form-check-inline'>
        <input class='form-check-input' type='radio' name='diskNumberOptions' id='fourDisksRadio' value='3' [(ngModel)]="squareOrderTemp">
        <label class='form-check-label' for='fourDisksRadio'>3x3</label>
      </div>
      <div class='form-check form-check-inline'>
        <input class='form-check-input' type='radio' name='diskNumberOptions' id='fiveDisksRadio' value='4' [(ngModel)]="squareOrderTemp">
        <label class='form-check-label' for='fiveDisksRadio'>4x4</label>
      </div>
      <br/>
      <br/>
    </div>
  </swal>

</div>