$square-bg: #ff81ac;

.square {
    margin-top: 30px;
    text-align: center;
}

.square-content {
    //display: inline-block;
    background-color: $square-bg;
    color: white;
    border: none;
    transition: background-color 0.2s;
    width: 68px;
    height: 68px;
    box-shadow: #e7dfdf 0px 1px 1px 1px;
    text-align: center;
    //user-select: none;
    cursor: pointer;
    
    &:hover {
        background-color: darken($square-bg, 6);
    }
    
    &:active {
        background-color: darken($square-bg, 10);
    }
    
    &:focus {
        outline: none !important;
    }
}

.selected {
    background-color: darken($square-bg, 10);
    cursor: default;
}

.square-item {
    //background-color: $square-bg;
    //box-shadow: #e7dfdf 0px 1px 1px 1px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    //height: 68px;
    line-height: 2.8;
    margin: 2px;
    //text-align: center;
    //transition: background-color 0.2s;
    //user-select: none;
    //width: 68px;
    
    //single line
    //white-space: nowrap;
    //overflow: hidden;
    
    /*&:hover {
        background-color: darken($square-bg, 6);
    }

    &:active {
        background-color: darken($square-bg, 10);
    }

    &:focus {
        outline: none !important;
    }*/
}

.center-verify {
    text-align: center;
}

.btn-verify {
    background-color: #0ce2b6;
    color: white;
    font-size: 17px;
    height: 50px;
    margin-top: 30px;
}

.restart {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        height: 50px;
        width: 300px;
        color: #fff;
        font-size: 20px;
        margin: 10px;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}