<div class="top-games-section">
  <div class="container">
    <!--sreen-gallery-cursual-->
    <div class="row">
      <div class="col-md-3 top-games game-1" routerLink="/hanoit-tower">
        <h3>Torres de Hanoi</h3>
        <p> Juego matemático inventado en 1883 por el matemático francés Édouard Lucas.
          . El juego consiste en pasar todos los discos desde el poste ocupado
          (es decir, el que posee la torre) a uno de los otros postes vacíos. </p>

      </div>
      <div class="col-md-3 top-games game-2"  routerLink="/senku">
        <h3>Senku</h3>
        <p>Conocido también como Uno Solo, es un juego de tablero creado en 1687 en Francia.
          El juego consiste en ir moviendo una pueza por vez, las piezas slo pueden moverse capturando
          mediante un salto sobre otra. El objetivo es eliminar todas las piezas, dejando una sola en el tablero.
        </p>
      </div>
      <div class="col-md-3 top-games game-3" routerLink="/magic-squares">
        <h3>Cuadrados Mágicos</h3>
        <p>Descripción de próximo juego</p>
      </div>
      <div class="col-md-3 top-games game-4">
        <h3>Otro Juego</h3>
        <p>Descripción de próximo juego</p>
      </div>
    </div>

  </div>
</div>